<h1>Project: <%= @project.name %> </h1>

<h3>Material:</h3>
<p> <%= @project.material %> </p>
<br>

<h3>Challenge Theme:</h3>
<p> <%= @project.challenge_theme %> </p>
<br>

<h3>Number of Contestants</h3>
<p id='contestant-count'>Contestants: <%= @project.contestants_count %> </p>